.container {
  max-width: 400px;
  height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  color: #FFF;
  margin-bottom: 2.5rem;

  > h1 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }
}
