.container {
  max-width: 400px;
  height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("./assets/images/waves.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 111px;
  }
}

.headline {
  color: #FFF;
  margin-bottom: 2.5rem;

  > h1 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }
}
